*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
<<<<<<< HEAD
  min-width: 1440px;
=======
  min-width: 1100px;
>>>>>>> 0fdacf36b4a70dfb2ab6d78b30dcc54c5d38b13e
  margin: 0;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
