/* место для вашего кода */

.content-section {
    margin: 0 50px 180px 50px;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 92px 52px 92px 52px;
    font-size: 18px;
}

.header-menu {
    grid-column: 1 / 5;
    align-self: center;
}

.header-menu-list {
    min-width: 380px;
    display: flex;
    justify-content: start;
    gap: 32px;
    list-style: circle;
    list-style-position: outside;
}

.menu-list-item-active {
    list-style-type: none;
}

.header-logo {
    grid-column: 6 / 8;
    justify-self: center;
}

.header-logo-image {
    width: 148px;
    height: 105px;
}

.contacts-menu {
    font-family: Raleway, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
}

.header-contacts-menu {
    grid-column: -4 / -1;
    place-self: center end;
}

.cover {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 1440px;
    min-height: 757px;
    margin: auto;
    background-image: url(../images/cover.jpg);
    background-size: 100%;
    background-position: center;
}

.overlay {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1340px;
    width: 100%;
    margin: 165px auto 135px;
    position: relative;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    line-height: 1.15;
    text-transform: uppercase;
}

.accent-span {
    display: block;
}

.text-center {
    text-align: center;
    line-height: 100%;
}

.text-end {
    text-align: end;
    line-height: 100%;
}

.letter-spacing {
    letter-spacing: 60px;
}

.letter-spacing-normal {
    letter-spacing: normal;
}

.cover-description {
    position: relative;
    display: flex;
    gap: 78px;
    margin-right: 50px;
    margin-bottom: 50px;
    justify-content: flex-end;
    align-items: center;
    color: #FFF;
}

.cover-description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.27;
    word-spacing: 17px;
    text-transform: uppercase;
}

.span-word-spacing {
    word-spacing: 22px;
}

.bet-button {
    width: 257px;
    height: 52px;
    color: #FFF;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid currentColor;
}

.lots {
    margin-top: 180px;
}

.lots-heading {
    margin-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
}

.lots-card-list {
    margin-top: 27px;
    margin-bottom: 30px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 25px;
    color: #FFF;
}

.lots-card-list-item {
    flex-grow: 1;
}

.lots-card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 430px;
    height: 100%;
    min-height: 450px;
    background-size: cover;
    background-position: center;
}

.card-title {
    position: relative;
    font-size: 22px;
    margin: 50px 40px 0 40px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: underline;
    text-transform: uppercase;
}

.card-text {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 40px 50px 40px;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots-look-more-link {
    margin-left: 40px;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 181px;
}

.about-logo-column {
    width: 430px;
}

.about-logo {
    width: 240px;
    height: 240px;
    padding: 63px 46px;
    margin: auto;
    background-color: #000;
    border-radius: 50%;
}

.about-logo-image {
    width: 148px;
}

.about-column {
    margin-top: 100px;
    max-width: 885px;
}

.about-title {
    margin-bottom: 100px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
    &:not(:last-child) {
        margin-bottom: 25px;
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 50px 92px 50px;
    font-size: 18px;
}

.footer-contacts-menu {
    grid-column: 1 / span 3;
    place-self: center start;
}

.footer-menu {
    grid-column: 6 / span 2; 
    align-self: center;
    align-self: flex-start;
}

.footer-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu-list-item {
    list-style: none;
}

.footer-social {
    grid-column: -1 / -4;
    justify-self: end;

}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 48px;
}

.footer-social-icon {
    height: 48px;
}